#this yaml file for task01 transunet model


model : 
    name : 'transUnet'
    
data : 
    modality : 'MRI' 
    val_count : 24 
    train_count : 460
    num_classes : 4
    batch : 4
    num_replicas : 8 
    image_shape : [240,240,155,4] 
    label_shape : [240,240,155,1]
    image_patch_shape : [80,80,52,4] 
    label_patch_shape : [80,80,52,1] 
    stage_patches_per_volume : 32 
    stage1_fg_ratio : 0.5 
    stage2_fg_ratio : 0.5 
    stage3_fg_ratio : 0.5
    stage3_hard_sample_ratio: 0.25
    #stage2_intra_class_ratio : [0.128 , 0.461 , 0.411 ]
    stage2_intra_class_ratio : [0.37, 0.33, 0.30]


    num_patches : 32 
    dataset_url : 'https://msd-for-monai.s3-us-west-2.amazonaws.com/Task01_BrainTumour.tar'
    tarfile_name : "Task01_BrainTumour.tar"
    class_names : ['BackGround' , 'edema' , 'non-enhancing tumor' , 'enhancing tumour']
    class_weights : [1.0, 135.77891991613737, 489.1624819462532, 435.4428642924422]
    output_weights : [0.125, 0.25, 0.5, 1.0]
    loss_weights : [1.0,1.5]
checkpoint : 
    #checkpoint_dir : 'gs://medical_segmentation_decathlon/task01/transunet/checkpoints'
    local_checkpoint_dir: '/kaggle/working/checkpoints/transunet/'
    gcs_checkpoint_dir : 'gs://medical_segmentation_decathlon/task01/transunet/checkpoints'
    
    total_step : 92000 
    warmup_step : 10 
    target_lr : 3e-4 
    min_delta : 1e-4 
    patiance : 15 
    batches_per_epoch : 460
    total_epoch : 200
    log_dir : 'gs://medical_segmentation_decathlon/task01/transunet/logs'
    stage_2_epoch : 76
    stage_3_epoch : 151
optimizer : 
    starting_lr : 1e-4 
    weight_decay : 1e-5 
    
loss : 'sementic_segmetation_loss'
    
