#this yaml file for task01 unet ++ model
task: 1

model:
  name: "unet_plus_plus"

data:
  modality: "MRI"
  CT_clip_value_min: -150
  CT_clip_value_max: 250
  val_count: 24
  train_count: 460
  num_classes: 4
  batch: 1
  num_replicas: 8
  image_shape: [240, 240, 155, 4]
  label_shape: [240, 240, 155, 1]
  image_patch_shape: [80, 80, 52, 4]
  label_patch_shape: [80, 80, 52, 1]
  stage_patches_per_volume: 32
  stage1_fg_ratio: 0.5
  stage2_fg_ratio: 0.5
  stage3_fg_ratio: 0.4375
  stage3_hard_sample_ratio: 0.125
  #stage2_intra_class_ratio : [0.128 , 0.461 , 0.411 ]
  stage2_intra_class_ratio: [0.40, 0.40, 0.20]
  vis: 1

  num_patches: 27
  dataset_url: "https://msd-for-monai.s3-us-west-2.amazonaws.com/Task01_BrainTumour.tar"
  tarfile_name: "Task01_BrainTumour.tar"
  class_names:
    ["BackGround", "edema", "non-enhancing tumor", "enhancing tumour"]
  class_weights: [1.0, 135.77891991613737, 489.1624819462532, 435.4428642924422]
  output_weights: [0.125, 0.25, 0.5, 1.0]
  loss_weights: [1.0, 1.5]
checkpoint:
  #checkpoint_dir : 'gs://medical_segmentation_decathlon/task01/unet_pp/checkpoints'
  local_checkpoint_dir: "/kaggle/working/checkpoints/unet_pp/"
  gcs_checkpoint_dir: "gs://medical_segmentation_decathlon/task01/unet_pp/checkpoints_new"

  total_step: 368000
  warmup_step: 10
  target_lr: 1e-5
  min_delta: 1e-4
  patiance: 15
  batches_per_epoch: 1840
  total_epoch: 200
  log_dir: "gs://medical_segmentation_decathlon/task01/unet_pp/logs_new"
  stage_2_epoch: 76
  stage_3_epoch: 151
  ohem_call_duration: 5
  #checkpoint_path: "gs://medical_segmentation_decathlon/task01/unet_pp/checkpoints_new/ckpt-178"
  checkpoint_path: "/kaggle/input/unetpp-ckpt-178-final/ckpt-178"
optimizer:
  starting_lr: 1e-4
  weight_decay: 1e-5

loss: "deep_supervision_loss"

debugger:
  debugger: "gs://medical_segmentation_decathlon/task01/unet_pp/debugger"